tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
dotenv

opencv-python
mediapipe



fastapi
uvicorn
python-jose[cryptography]
SQLAlchemy
psycopg2-binary
bcrypt==4.3.0
passlib[bcrypt]
pydantic[email]


pytest 
pytest-asyncio 
httpx
mlflow